<% provide(:title, "Profile Pages") %>
<div class="main">
  <div class="wrapper">
    <div class="profile">
      <div class="avatar">
        <% unless @user.profile_image.nil? %>
          <%= image_tag profile_image_path(@user) %>
        <% else %>
          <div class="no-img"></div>
        <% end %>
      </div>
      
      <div class="profile-content">
        <div class="profile-title">
          <p>自己紹介</p>
          <hr>
        </div>
        <div class="profile-text"><%= @user.self_introduction %></div>
        <%= button_to "自己紹介文を編集する", user_profile_edit_path(@user), method: :get  %>
      </div>
    </div>
  
    <div class="skills">
      <div class="skill-title">
        <div class="title-text">
          <p>スキルチャート</p>
          <hr>
        </div>
        <%= button_to "スキルを編集する", user_skill_edit_path(@user), method: :get %>
      </div>

      <div class="skill-chart">
        <canvas id="skillChart"></canvas>　
      </div>
    </div>
  </div>
</div>

<script>
  // console.log(gon.backend_data);
  var ctx = document.getElementById("skillChart");
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      datasets: [
        {
          label: 'バックエンド' ,
          backgroundColor: 'rgba(255,0,0,0.4)',
          borderColor: 'rgba(255,0,0,1)',
          //data: August: "60.0",July: "20.0",June: "100.0"
          data: gon.backend_data
        },
        {
          label: 'フロントエンド',
          backgroundColor: 'rgba(255,130,0,0.4)',
          borderColor: 'rgba(255,130,0,1)',
          data: gon.frontend_data
        },
        {
          label: 'インフラ',
          backgroundColor: 'rgba(255,255,0,0.4)',
          borderColor: 'rgba(255,255,0,1)',
          data: gon.infra_data
        }
      ]
    },
    options: {
      scales: {
        y: {
          suggestedMin: 0,
          suggestedMax: 100,
          ticks: {
            stepSize: 20
          }
        }
      }      
    }
  });
</script>
