// .login {
//   display: inline-flex;
//   flex-direction: column;
//   align-items: center;
//   gap: 48px;
// }

.login-title {
color: rgba(0, 0, 0, 0.75);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.4%; /* 48.024px */
}

.login-form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin-bottom: 411px;
}

.email {
  margin-top: 80px;
  display: flex;
  width: 480px;
  height: 48px;
  flex-direction: column;
  align-items: flex-start;
}

.email input {
  height: 36px;
  align-self: stretch;
  border: none;
  outline: none;
  border-bottom: solid 1px rgba(0,0,0,0.42);

  color: var(--text-primary, rgba(0, 0, 0, 0.87));
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 118.75% */
  letter-spacing: 0.15px;
}

.label {
  // height: 48px;
  // align-self: stretch;
}

.password {
  display: flex;
  width: 480px;
  height: 48px;
  flex-direction: column;
  align-items: flex-start;
}

.password input {
  height: 36px;
  align-self: stretch;
  border: none;
  outline: none;
  border-bottom: solid 1px rgba(0,0,0,0.42);

  color: var(--text-primary, rgba(0, 0, 0, 0.87));
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 118.75% */
  letter-spacing: 0.15px;
}

.login-btn input {
  display: flex;
  padding: 16px 80px;
  justify-content: center;
  align-items: center;
  border: solid 1px #1B5678;
  border-radius: 4px;
  background: var(--primary-color, #1B5678);

  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}