<% provide(:title, "Edit Profile Pages") %>

<div class="profile-wrapper">
<h1>自己紹介を編集する</h1>

<%= form_for @user, url: { controller: 'user_profile', action: 'update', multipart: true}, html: {class: 'profile-form'}, method: :put do |u| %>
    <div class="profile-edit">
      <lavel for="self-introduction">自己紹介文</lavel>
      <%= u.text_area :self_introduction, rows: 5, cols: 33  %>
      <label>200文字以上、800文字未満で入力してください</label>
    </div>
    <div class="file-upload">
      <lavel for="profile-image">
        アバター画像
      </lavel>
      <label class="upload-button">
        <span>画像ファイルを添付する</span>
        <%= u.file_field :profile_image, class: "hidden" %>
      </label>
    </div>
    <%= button_to '自己紹介を確定する' %>
  </div>
<% end %>
</div>
