<% provide(:title, "Edit Profile Pages") %>
<div>
  <h1>自己紹介を編集する</h1>
  <div class="mb-3">
    <label for="selfIntroduction" class="form-label">自己紹介</label>
    <textarea class="form-control" id="selfIntroduction" rows="5">
      <%= @self_introduction.self_introduction %>
    </textarea>
  </div>
  <br>
  <div>
      <%= button_to "自己紹介文を確定する", {controller: 'user_profile', action: 'update'}, {method: :post, params: { self_introduction: @self_introduction.self_introduction } } %>
  </div>
</div>