

<% provide(:title, "Edit Profile Pages") %>
  <h2>user_profile/#show</h2>
  <h2>user_profile/:id</h2>
  <h1>自己紹介を編集する</h1>
  <%= form_tag({ controller: 'user_profile', action: 'update' }, method: :put, class: 'profile-form') do %>
    <div class="profile-edit">
      <lavel for="self-introduction">自己紹介文</lavel>
      <textarea id="self-introduction" name="selfIntroduction" rows="5" cols="33"><%= @user.self_introduction %></textarea>
      <lavel>200文字以上、800文字未満で入力してください</lavel>
    </div>
    <div class="file-upload">
      <lavel for="profile-image">
        アバター画像
      </lavel>
      <button id="profile-image">
        画像ファイルを添付する
      </button>
    </div>
    <%= submit_tag '自己紹介を確定する', class: 'confirm-button' %>
    <!--profileform end div-->
<% end %>
  
  <!-- profile-form > profile-edit, file-upload, confirm-buttonそれぞれのflexbox?-->
  
